{% load syllabuspdf_extras %}
<div id="pdflink">
	<form action="" method="get">
    	{{ form }}
    	<input type="submit" value="Display" />
	</form>
	<!--<a href="/syllabuspdf/syllabus.pdf">Generate PDF</a>-->
	<input type="button" onClick="window.print()" value="Generate PDF"/>
</div>

{% if syllabus and settings.syllabus %}
	{% autoescape off %} {{ syllabus }} {% endautoescape %}
{% endif %}

<style>
/* Hides "Generate PDF" link when printing page */
@media print {
	#pdflink {
		display: none;
	}
}

/* Set all fonts to serif for easier readibility once printed */
* {
	font-family: serif;
}

#syllabus {
	width: 100%;
	table-layout: fixed;
}

#syllabus th {
	text-align: left;
	background-color: #444;
	color: #fff;
	padding: 3px 10px;
	border-bottom: 1px solid #bbb;
}

#summary {
	width: 50%;
	table-layout: fixed;
}

#summary th {
	text-align: left;
	background-color: #444;
	color: #fff;
	padding: 3px 10px;
	border-bottom: 1px solid #bbb;
}
</style>

{% if events and settings.events %}
	<table id="syllabus" cellpadding="3">
	<thead>
	  <tr>
	    <th scope="col" style="width: 25%;">Date</th>
	    <th scope="col" style="width: 75%;" colspan="2">
	    <div style="float: right;" rowspan="2"></div>
	    Details
	    </th>
	  </tr>
	</thead>
	{% for event in events %}
	<tbody>
	  <tr>
	    <td> {{ event.end_at |format_date }} </td>
	    <td> <b> {{ event.title }} </b> </td>
	    {% if settings.times %}
	    <td align="right"> {% format_time event.start_at event.end_at %} </td> 
	    {% endif %}
	  </tr>
	  <tr>
	  	<td> </td>
	  	{% if settings.descriptions %}
	  	{% autoescape off %}
	  	<td> {{ event.description|escape_None }} </td>
	  	{% endautoescape %}
	  	{% endif %}
	  </tr>
	</tbody>
	{% endfor %}
	</table>
{% endif %}

{% if groups and settings.weights %}
 <table id="summary" cellpadding="3">
    <thead>
    <tr>
      <th scope='col' align='left'>Group</th>
      <th scope='col' align='left'>Weight</th>
    </tr>
    </thead>
    <tbody>
    	{% for group in groups %}
        <tr>
          <td>{{ group.name }}</td>
          <td> {{ group.group_weight }}% </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endif %}