{% load syllabuspdf_extras %}

<div id="pdflink">
	<a href="/syllabuspdf/syllabus.pdf">Generate PDF</a>
</div>

{% if syllabus %}
	{% autoescape off %} {{ syllabus }} {% endautoescape %}
{% endif %}

<style>
/* Hides "Generate PDF" link when printing page */
@media print {
	#pdflink {
		display: none;
	}
}

#syllabus {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 10px;
}

#syllabus th {
  text-align: left;
  background-color: #444;
  color: #fff;
  padding: 3px 10px;
  border-bottom: 1px solid #bbb;
}
</style>

{% if events %}
	<table id="syllabus">
	<thead>
	  <tr>
	    <th scope="col" style="width: 25%;">Date</th>
	    <th scope="col" style="width: 75%;">
	    <div style="float: right;" rowspan="2"></div>
	    Details
	    </th>
	  </tr>
	</thead>
	{% for event in events %}
	<tbody>
	  <tr>
	    <td> {{ event.end_at |format_date }} </td>
	    <td> <b> {{ event.title }} </b> </td>
	    <!-- Displays time for event. -->
	    <!-- <td> {% format_time event.start_at event.end_at %} </td> -->
	  </tr>
	  <tr>
	  	<td> </td>
	  	{% autoescape off %}
	  	<td> {{ event.description|escape_None }} </td>
	  	{% endautoescape %}
	  </tr>
	</tbody>
	{% endfor %}
	</table>
{% endif %}