{% load syllabuspdf_extras %}

{% if syllabus %}
	{% autoescape off %} {{ syllabus }} {% endautoescape %}
{% endif %}

{% if assignments %}
	<table id="syllabus">
	  <tr>
	    <th scope="col" style="width: 25%;">Date</th>
	    <th scope="col" style="width: 75%;">
	    <div style="float: right;"></div>
	    Details
	    </th>
	  </tr>
	</thead>
	{% for assignment in assignments %}
	<tbody>
	  <tr>
	    <td> {{ assignment.due_at|format_time }} </td>
	    <td> {{ assignment.name }} </td>
	  </tr>
	</tbody>
	{% endfor %}
	</table>
{% endif %}


