{% load syllabuspdf_extras %}

{% if syllabus %}
	{% autoescape off %} {{ syllabus }} {% endautoescape %}
{% endif %}

<style type="text/css">
#syllabus {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 10px;
}

#syllabus th {
    text-align: left;
    background-color: #444;
    color: #fff;
    padding: 3px 10px;
    border-bottom: 1px solid #bbb;
}
</style>

{% if events %}
	<table id="syllabus">
	  <tr>
	    <th scope="col" style="width: 25%;" align="left">Date</th>
	    <th scope="col" style="width: 75%;" align="left" >
	    <div style="float: right;" rowspan="2"></div>
	    Details
	    </th>
	  </tr>
	</thead>
	{% for event in events %}
	<tbody>
	  <tr>
	    <td> {{ event.end_at|format_date }} </td>
	    <td> <b> {{ event.title }} </b> </td>
	    <!--<td> {% format_time event.start_at event.end_at %} </td>-->
	  </tr>
	  <tr>
	  	<td></td>
	  	{% autoescape off %}
	  	<td> {{ event.description|escape_None }} </td>
	  	{% endautoescape %}
	  </tr>
	</tbody>
	{% endfor %}
	</table>
{% endif %}


