{% load syllabuspdf_extras %}
<div id="pdflink">
	<b>Display</b>
	<form action="" method="get">
    	{{ form }}
    	<input type="submit" value="Preview"/>
	</form>
	<input type="button" onClick="window.print()" value="Generate PDF"/>
</div>

{% if syllabus and settings.syllabus %}
	{% autoescape off %} {{ syllabus }} {% endautoescape %}
{% endif %}

<style>
/* Hides "Generate PDF" link when printing page */
@media print {
	#pdflink {
		display: none;
	}
}

/* Set all fonts to serif for easier readibility once printed */
* {
	font-family: serif;
}

#events {
	width: 100%;
	table-layout: fixed;
}

#events th {
	text-align: left;
	background-color: #444;
	color: #fff;
	border-bottom: 1px solid #bbb;
}

#weights {
	width: 50%;
	table-layout: fixed;
}

#weights th {
	text-align: left;
	background-color: #444;
	color: #fff;
	border-bottom: 1px solid #bbb;
}

.settings {
	display: list-item;
}
</style>

{% if events and settings.events %}
	<table id="events" cellpadding="3">
	<caption style="text-align:left"> <b> Course Schedule </b> </caption>
	<thead>
	  <tr>
	    <th scope="col" style="width: 15%;">Date</th>
	    <th scope="col" style="width: 85%;" colspan="2">
	    Details
	    </th>
	  </tr>
	</thead>
	{% for event in events %}
	<tbody>
	  <tr>
	    <td> {{ event.end_at |format_date }} </td>
	    <td> <b> {{ event.title }} </b> </td>
	    {% if settings.times %}
	    <td align="right"> <i> {% format_time event.start_at event.end_at %} </i> </td> 
	    {% endif %}
	  </tr>
	  <tr>
	  	<td> </td>
	  	{% if settings.descriptions %}
	  	{% autoescape off %}
	  	<td colspan="2"> {{ event.description|escape_None }} </td>
	  	{% endautoescape %}
	  	{% endif %}
	  </tr>
	</tbody>
	{% endfor %}
	</table>
{% endif %}

{% if groups and settings.weights %}
 <table id="weights" cellpadding="3">
 	<caption style="text-align:left"> <b> Assignment Weights </b> </caption>
    <thead>
    <tr>
      <th scope='col' align='left'>Group</th>
      <th scope='col' align='left'>Weight</th>
    </tr>
    </thead>
    <tbody>
    	{% for group in groups %}
        <tr>
          <td>{{ group.name }}</td>
          <td> {{ group.group_weight }}% </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endif %}