{% extends "base.html" %}
{% load syllabuspdf_extras %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'syllabuspdf/css/styles.css' %}" />
{% endblock %}

{% block content %}
<!-- Menu for toggling options and generating PDF -->
<header id="syllabus-export">
	<fieldset id="menu">
		<legend>Display:</legend>
		<form action="{% url 'syllabuspdf:index' %}" method="get">
			<table>
			<tr>
				<td>{{ form.syllabus }} {{ form.syllabus.label_tag }}</td>
				<td></td>
				<td><b>Event Types</b> {{ form.dated_events }} {{ form.dated_events.label_tag }}
				{{ form.undated_events }} {{ form.undated_events.label_tag }}</td>
				<td></td>
				<td><b>Event Properties</b> {{ form.descriptions }} {{ form.descriptions.label_tag }} 
				{{ form.times }} {{ form.times.label_tag }}</td>
				<td></td>
				<td>{{ form.weights }} {{ form.weights.label_tag }}</td>
			</tr>
			</table>
			<div style="margin-top: 8px;">
				<input id="id_hidden_field" name="hidden_field" type="hidden" value= "{{ form.hidden_field.value }}" />
				<input type="submit" class="btn" value="Preview"/>
				<input type="button" class="btn" onClick="window.print()" value="Generate PDF"/>
			</div>
		</form>
	</fieldset>
	<h2>Preview:</h2>
</header>

<!-- Syllabus body -->
<!-- Divs used to fix Webkit bug of splitting table rows-->
{% if syllabus and settings.syllabus %}
	{% autoescape off %} {{ syllabus }} {% endautoescape %}
{% endif %}

{% if settings.dated_events or settings.undated_events %}
<div> <b> Course Schedule </b> </div>
<div class="table" id="events">
	<div class="head">
		<div class="row">
			<div class="cell" style="width: 20%;">Date</div>
	    	<div class="cell" style="width: 80%;">Details</div>
		</div>
	</div>
	{% if events %}
	{% for event in events %}
	<div class="row">
	    <div class="cell"> {{ event.end_at |format_date }} </div>
	    <div class="cell">
	    	<span class="event"> 
	    		<span class="event_title">
	    			<b> {{ event.title }} </b>
	    		</span>
	    		{% if settings.times %}
	    		<span class="event_time">
	     			<i> {% if 'assignment' in event %}
	    			{% format_time event.start_at event.end_at 'assignment' %}
	    			{% else %}
	    			{% format_time event.start_at event.end_at 'calendar' %}
	    			{% endif %} </i>
	    		</span>
	    		{% endif %}
	    	</span>
		</div>
	</div>
	<div class="row">
	  	<div class="cell"></div>
	  	{% if settings.descriptions %}
	  	{% autoescape off %}
	  	<div class="cell"> {{ event.description|escape_None }}</div>
	  	{% endautoescape %}
	  	{% endif %}
	</div>
	{% endfor %}
	{% endif %}

</div>
{% endif %}

<!-- Assignment Weights Table (divs inserted to work around Webkit bug of splitting table rows) -->
{% if groups and settings.weights %}
<div> <b> Assignment Weights </b> </div>
<div class="table" id="weights">
    <div class="head">
    	<div class="row">
    		<div class="cell">Group</div>
        	<div class="cell">Weight</div>
    	</div>
    </div>
{% for group in groups %}
    {% if group.group_weight != 0 %}
    <div class="row">
          <div class="cell"> {{ group.name }} </div>
          <div class="cell"> {{ group.group_weight }}% </div>
    </div>
        {% endif %}
{% endfor %}
</div>
{% endif %}
{% endblock %}