/* Hides menu for toggling options when printing page */
@media print {
	header#syllabus-export {
		display:none;
	}
	img, tr, p { 
    	page-break-inside: avoid;

    }
}
#menu tr td:empty {
    width: 50px;
}
#menu legend {
	font-weight: bold;
}
#menu {
	border: 1px solid rgb(181, 181, 181);
}

.btn {
	background-color:rgb(0, 142, 226);
	padding: 2px 12px;
	color: #fff;
	border: 1px solid rgb(0, 121, 193);
	border-radius: 3px;
	font-size: 1.1em;
}

/* Set all fonts to serif for easier readibility once printed */
* {
	font-family: serif;
}

.table {
	display: table;
	width: 100%;
	border-spacing: 0px !important;
}

.head {
	display: table-header-group;
	text-align: left;
	background-color: #444;
	color: #fff;
}

.row {
	display: table-row;
	text-align: left;
}

.cell {
	display:table-cell;
}

.head, .row, .cell{
	page-break-inside: avoid !important;
}

#weights {
	width: 50%;
}

.event{
    display: table;
    width: 100%;
    margin: 0;
}

.event_title{
	text-align: left;
    display: table-cell;
}
.event_time{
	text-align: right;
    display: table-cell;
}


