/* Hides menu for toggling options when printing page */
@media print {
	#menu {
		display: none;
	}

	img, tr, p { 
    	page-break-inside: avoid;

    }
}

#menu tr td:empty {
    width: 50px;
}

/* Set all fonts to serif for easier readibility once printed */
* {
	font-family: serif;
}

.table {
	display: table;
	width: 100%;
	border-spacing: 0px !important;
}

.head {
	display: table-header-group;
	text-align: left;
	background-color: #444;
	color: #fff;
}

.row {
	display: table-row;
	text-align: left;
}

.cell {
	display:table-cell;
}

.head, .row, .cell{
	page-break-inside: avoid !important;
}

#weights {
	width: 50%;
}

.event{
    display: table;
    width: 100%;
    margin: 0;
}

.event_title{
	text-align: left;
    display: table-cell;
}
.event_time{
	text-align: right;
    display: table-cell;
}


